* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.colors {
    color: hsl(263, 55%, 52%);
    color: hsl(217, 19%, 35%);
    color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 81%);
    color: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2rem;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    width: 90%;
    margin-top: 2rem;
    min-height: 70vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
/*---------------image-css------------------------*/

.img-name {
    display: flex;
    align-items: center;
}

.img-name img {
    width: 4rem;
    border-radius: 50%;
    border: 1px solid #fff;
    
}

.img-name p {
    margin: 1rem;

}

.img-name p span {
    display: block;
    font-weight: 100;
    font-size: 1.1rem;
    color: hsl(0, 0%, 81%);
}
/*---------------------disc css----------------------*/
.desc {
    text-align: left;
}

.desc h4 {
    margin-bottom: 1rem;
}

.desc p {
    font-size:1.5rem;
    color: hsl(0, 0%, 81%);
}

/*================card 1=========================== */

#card1{
    background-color: hsl(263, 55%, 52%);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 5%;
    background-size: 90px;
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    grid-row: 1/2;
    grid-column: 1/3;
}


/*=========================card 2 ==========================*/

#card2 {
    background-color: hsl(217, 19%, 35%);
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    grid-column: 3 / 4;

}


#card2 .desc p {
    color: hsl(0, 0%, 81%);
}

/*=============================card 3=====================*/

#card3{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(219, 29%, 14%);
    grid-row: 2 / 3;
}

#card3 .desc p {
    color: hsl(217, 19%, 35%);
}

/*==================================Card 4=================*/

#card4{
    background-color: hsl(219, 29%, 14%);
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    grid-row: 2 / 3 ;
    grid-column: 2 / span 2;
}

#card4 .desc p {
    color: hsl(0, 0%, 81%);
}

/*================= Card 5 ===============================================*/

#card5{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(219, 29%, 14%);
    grid-column: 4 / -1;
    grid-row: 1 / -1;
}
#card5 .desc p {
    color: hsl(217, 19%, 35%);
}

/*===============footer=============*/

.footer {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.footer a {
    text-decoration: none;
}