* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.colors {
    color: hsl(263, 55%, 52%);
    color: hsl(217, 19%, 35%);
    color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 81%);
    color: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem;
    background-color: hsl(210, 46%, 95%);

}

/*================card 1=========================== */

#card1{
    background-color: hsl(263, 55%, 52%);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 5%;
    background-size: 90px;
    width: 40rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
}

.img-name {
    display: flex;
    align-items: center;
}

.img-name img {
    width: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    
}

.img-name p {
    margin: 1rem;
    font-weight: 500;
}

.img-name p span {
    display: block;
    font-weight: 100;
    font-size: 1.1rem;
    color: hsl(0, 0%, 81%);
}

.desc1 {
    text-align: left;
}

.desc1 h4 {
    margin-bottom: 1rem;
}

.desc1 p {
    font-size: 1rem;
    color: hsl(0, 0%, 81%);
}

/*=========================card 2 ==========================*/

#card2 {
    background-color: hsl(217, 19%, 35%);
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);

}

.img-name-2 {
    display: flex;
    align-items: center;
}

.img-name-2 img {
    width: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    
}

.img-name-2 p {
    margin: 1rem;
    font-weight: 100;
}

.img-name-2 p span {
    display: block;
    font-weight: 100;
    font-size: 1.1rem;
    color: hsl(0, 0%, 81%);
}

.desc-2 {
    text-align: left;
}

.desc-2 h4 {
    margin-bottom: 1rem;
}

.desc-2 p {
    font-size: 1rem;
    color: hsl(0, 0%, 81%);
}

/*=============================card 3=====================*/

#card3{
    background-color: hsl(0, 0%, 100%);
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(219, 29%, 14%);
}

.img-name-3 {
    display: flex;
    align-items: center;
}

.img-name-3 img {
    width: 25px;
    border-radius: 50%;
    border: 1px solid #fff;   
}

.img-name-3 p {
    margin: 1rem;
    font-weight: 100;
}

.img-name-3 p span {
    display: block;
    font-weight: 200;
    font-size: 1.1rem;
    color: hsl(217, 19%, 35%);
}

.desc-3 {
    text-align: left;
}

.desc-3 h4 {
    margin-bottom: 1rem;
}

.desc-3 p {
    font-size: 1rem;
    color: hsl(217, 19%, 35%);
}

/*==================================Card 4=================*/

#card4{
    background-color: hsl(219, 29%, 14%);
    width: 40rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
}

.img-name-4 {
    display: flex;
    align-items: center;
}

.img-name-4 img {
    width: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    
}

.img-name-4 p {
    margin: 1rem;
    font-weight: 500;
}

.img-name-4 p span {
    display: block;
    font-weight: 100;
    font-size: 1.1rem;
    color: hsl(0, 0%, 81%);
}

.desc-4 {
    text-align: left;
}

.desc-4 h4 {
    margin-bottom: 1rem;
}

.desc-4 p {
    font-size: 1rem;
    color: hsl(0, 0%, 81%);
}

/*================= Card 5 ===============================================*/

#card5{
    background-color: hsl(0, 0%, 100%);
    width: 18rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    color: hsl(219, 29%, 14%);
}

.img-name-5 {
    display: flex;
    align-items: center;
}

.img-name-5 img {
    width: 25px;
    border-radius: 50%;
    border: 1px solid #fff;   
}

.img-name-5 p {
    margin: 1rem;
    font-weight: 100;
}

.img-name-5 p span {
    display: block;
    font-weight: 200;
    font-size: 1.1rem;
    color: hsl(217, 19%, 35%);
}

.desc-5 {
    text-align: left;
}

.desc-5 h4 {
    margin-bottom: 1rem;
}

.desc-5 p {
    font-size: 1rem;
    color: hsl(217, 19%, 35%);
}

/*===============footer=============*/

.footer {
    text-align: center;
    
    font-size: 3rem;
}

.footer a {
    text-decoration: none;
}